/*
@media (min-width:320px)  
@media (min-width:480px)  
@media (min-width:600px) 
@media (min-width:801px)  
@media (min-width:1025px) 
@media (min-width:1281px) 
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: monospace, sans-serif;
}

body {
	background-color: rgb(116, 8, 8);
	color: rgb(228, 224, 23);
}

a {
	color: rgb(228, 224, 23);
}

nav {
	height: 7vh;
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 2%;
}

/*classes*/
.main-container,
.food-n-drink-list-container {
	width: 100vw;
	height: 90vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.food-n-drink-list-container {
<<<<<<< HEAD
	flex-direction: row;
=======
  flex-direction: row;
  align-items: flex-start;
>>>>>>> d7aa5fced445fde95b058a0d3025e0428f9febec
}

.form-container {
	padding: 1em;
	background-color: rgb(218, 210, 210);
	border: none;
	border-radius: 10px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.input {
	font-size: 16px;
	font-size: max(16px, 1em);
	padding: 0.25em 0.5em;
	background-color: #fff;
	border: 2px solid var(--input-border);
	border-radius: 4px;
}

.footer {
	height: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-select {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
}

.description {
	padding: 0 0.15rem;
	min-height: 20vh;
	width: 100%;
}

.list-item {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 5px;
}

/*IDs*/
#admin-menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

<<<<<<< HEAD
/*classes*/

@media only screen and (min-width: 20em) {
	/*COMPONENTS*/
	.form {
		gap: 5px;
		flex-direction: column;
		color: black;
	}

	.submit-button {
		margin-top: 0.2em;
		padding: 0.3em;
		border-radius: 5px;
		border: solid 1px gray;
		box-shadow: 0 0 2px black;
	}
=======
@media only screen and (min-width:20em) {
  .form {
    gap: 5px;
    flex-direction: column;
    color: black;
  }
>>>>>>> d7aa5fced445fde95b058a0d3025e0428f9febec

	/*IDs*/
	/*classes*/

<<<<<<< HEAD
	/*PAGES*/
	/*classes*/
	/*IDs*/
}

@media only screen and (min-width: 40em) {
	/*COMPONENTS*/
	nav {
		justify-content: space-between;
	}

	/*IDs*/
	#admin-menu {
		justify-content: center;
		gap: 20px;
	}

	/*classes*/

	/*PAGES*/
	/*classes*/
	/*IDs*/
=======
  .food-n-drink-list-container {
    overflow: hidden;
    padding: 2vw;
  }

  .food-n-drink-list-container>.main-container {
    row-gap: 1vh;
  }

  .list-item {
    width: 95%;
  }

}

@media only screen and (min-width:40em) {
  nav {
    justify-content: space-between;
  }

  #admin-menu {
    justify-content: center;
    gap: 20px
  }

>>>>>>> d7aa5fced445fde95b058a0d3025e0428f9febec
}

@media only screen and (min-width: 60em) {
	/*COMPONENTS*/
	nav {
		justify-content: space-between;
	}

<<<<<<< HEAD
	.nav-select {
		justify-content: flex-start;
		gap: 50px;
	}
=======
  nav {
    justify-content: space-between;
  }
>>>>>>> d7aa5fced445fde95b058a0d3025e0428f9febec

	/*IDs*/
	#admin-menu {
		justify-content: center;
		gap: 20px;
	}

<<<<<<< HEAD
	/*classes*/

	/*PAGES*/
	/*classes*/
	/*IDs*/
}
=======
  #admin-menu {
    justify-content: center;
    gap: 20px
  }

}
>>>>>>> d7aa5fced445fde95b058a0d3025e0428f9febec
