* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

body {
  background-color: black;
  color: green;
}

/*components*/
nav {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2%;

  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5px
}

/*components*/
/*IDs*/
/*classes*/
.main-container {
  width: 100vw;
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  height: 3vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
}

/*Admin Page*/
/*IDs*/
#admin-menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*classes*/